@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/Quicksand-Regular.ttf");
}

#nav {
  backdrop-filter: blur(1px);
  border-color: rgba(209, 213, 219, 0.5)
}